@use '@/styles/variables' as *;

.container {
  max-width: 500px;
}

.form {
  :global {
    .ant-form-item-label > label {
      font-weight: $font-medium;
    }
  }
}

.verified {
  color: $success-color;
  font-size: $text-xs;
}
